@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');




body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
} 

.spintarget {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  height: 100px;
}


.no-data {
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 2rem;
}

.App {
  text-align: center;
  margin: auto;
  width: 90%;
  /* padding-top: 50px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  background-color: transparent !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-job {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 15rem; 

}

.title {
  margin-bottom: 36px;
  margin-top: 50px;
}

.form-control {
  margin-bottom: 1rem;
}

.form-select {
  margin-bottom: 1rem;
}

.word-wrap {
  white-space: normal;
}

/******************************** BUTTON STYLES *********************************************/


.glow-on-hover {
  width: 220px;
  height: 4rem !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  border-radius: 10px !important;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 23%), 0 6px 20px 0 rgb(0 0 0 / 29%) !important;
  border: none;
  outline: none;
  color: #fff;
  background: black !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  /* color: #54b3d6 */
  color: black;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.floating-btn {
  position:fixed !important;
  bottom:5rem !important;
  right: 6rem !important;
}


.action-col {
  text-align: right;
}

.action-links {
  display: inline-block;
}


.modal-btns {
  margin-top: 1rem;
  color: white !important;
  float: right;
}

.cancel-btn {
  height: 4rem;
  border: none !important;
  border-radius: 10px !important;
  margin-right: .8rem;
  font-size: 1.2rem !important;
}
.update-btn {
  width: 120px !important;
}
.add-btn {
  color: white !important;
}
/*********************** LINKS *******************************************/
a {

  background-image: linear-gradient(
    to right,
    rgb(192, 78, 78) 50%,
    rgb(192, 78, 78) 50%,
    rgb(44, 105, 204) 50%
  );
  cursor: pointer;
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
}

a:hover {
  background-position: 0;
 }

 a:hover::before {
  width: 100%;
}

Table {
  text-align: left;
}

.jobTable>tbody>tr>td {
  padding: 24px 16px;
}

.jobTable>thead>tr>th {
  padding: 24px 16px;
  font-weight: 600;
}

.preserve-nl {
  white-space: pre-line;
}

/**************** ADD JOB STYLES *******************/
.error {
  color:crimson;
  font-size: 14px;
  text-align: left;
  margin-left: 12px;
  /* margin-top: -10px; */
}

.form-floating>label {
  color: black !important;
}


.form-control:focus {
  border-color: #54b3d6 !important;
  color: black !important;
  box-shadow: 0 0 0 0.25rem #54b3d63d !important;
}



/************** Badge **********************/
.badge{
  font-size: 16px !important;
  font-weight: 500 !important;
  color:#282c34 !important;
}

.badge-prospect {
  background-color: #D2E5EE !important;
  
}

.badge-applied {
  background-color: #FCECC9 !important;
}

.badge-phonescreen {
  background-color: #FFE8B5 !important;
}

.badge-oa {
  background-color: #B3E5B5 !important;
}