.App {
  text-align: center;
  margin: auto;
  width: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-job {
  width: 30%;
  margin: auto;
  text-align: center;
}

.title {
  margin-bottom: 36px;
  margin-top: 50px;
}

.form-control {
  margin-bottom: 1rem;
}

.form-select {
  margin-bottom: 1rem;
}


Button {
  width: 100%;
}

.action-col {
  width: 8%;
  text-align: center;
}

.link {
  margin-right: 16px;
}

.btn {
  margin-bottom: 1rem;
}

Table {
  text-align: left;
}
/*********************** ADD JOB STYLES *******************/
